<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<p>This task is completed: <%= @task.completed %> </p>
<%= link_to 'Edit your task', task_edit_path %>
<%= link_to 'Delete your task', task_delete_path, data: {turbo_method: :delete}%>
<%= link_to 'Home', tasks_path %>
